<div class="container">
  <h1 id="title">Warehouse</h1>
  <p class="lead">An index of <code><a href="http://crates.io">crates.io</a></code>, the <code><a href="http://rust-lang.com">Rust</a></code> package manager</p>
  {{outlet}}
</div>
